body{
    font-family:"Montserrat-black";
}
#title{
    background-color: #ff4c68;
    color: #fff;
    padding:3% 15%;
}
.navbar{
    padding: 0 0 2.5rem;
}
.navbar-brand{
    font-family:"Montserrat-Black";
    font-weight: bold;
    font-size: 1.5rem;
}
.download-button{
    margin: 5% 3% 5% 0;
    
}

.PhoneImage{
    width:60%;
    transform: rotate(25deg);

}
.nav-item{
    padding: 0 18px;
    font-size:1.5rem;
    font-weight: bolder;
}

h1{
    font-family:"Montserrat-Black";
    font-weight:bolder;
    font-size: 3rem;
    line-height: 1.5;
}
h2{
    font-family:"Montserrat-bold";
    font-size: 2rem;
    line-height: 1.5;
    padding-top: 1rem;
    text-align: center;
}
h3{
    font-family: "Montserrat-bold";
    font-weight: bolder;

}
p{
    color: gray;
    text-align: center;
    font-weight: bolder;
    padding: 2% 5%;
}
#features{
    padding: 7% 15%;
}
.Align{
    text-align: center;
    padding: 9%;
}
.icon{
    color:#ef8172;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.icon:hover{
    color:#ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonials-image {
    width:15%;
    border-radius: 200%;
    margin:20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 2rem;
}
.press-logo{
    width: 15%;
    margin:20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.s{
    margin: 20px 10px;
}
@media(max-width:1028px){
    #title{
        text-align: center;

    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
.navbar-brand{
    font-size: 2.5rem;
    line-height: 1.5rem;
}
#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 20% 15%;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding: 2%;
}
